@keyframes rest {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(5deg);
  }
}
@keyframes firstSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1200deg);
  }
}


@keyframes secondSpin {
  from {
    transform: rotate(1200deg);
  }
  to {
    transform: rotate(2550deg);
  }
}