@keyframes rest {
  from {
    transform: rotate(-28deg);
  }
  to {
    transform: rotate(-32deg);
  }
}
@keyframes firstSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1150deg);
  }
}


@keyframes secondSpin {
  from {
    transform: rotate(1200deg);
  }
  to {
    transform: rotate(2530deg);
  }
}